#local_tools_container{
    position:fixed;
    bottom:20px;
    left:20px;
    z-index:999999;
    border:1px solid black;
    overflow: hidden;
    border-radius:15px;
}

#local_tools_button{
    width:250px;
    height:40px;
    background-color:black;
    text-align: center;
    -webkit-transition: .2s ease-in;
    -o-transition: .2s ease-in;
    transition: .2s ease-in;
}

#local_tools_menu{
    width:250px;
    text-align: center;
    background-color:white;
    padding-top: 20px;
}

.local_tools_button_text{
    color:white;
}

#local_tools_container .chevron::before {
    border-style: solid;
    border-color: white;
    border-width: 0.25em 0.25em 0 0;
    content: '';
    display: inline-block;
    height: .9em;
    left: -0.85em;
    position: relative;
    top: 13px;
    transform: rotate(-45deg);
    vertical-align: top;
    width: .9em;
    -webkit-transition: .2s ease-in;
    -o-transition: .2s ease-in;
    transition: .2s ease-in;
}

#local_tools_container .chevron.bottom:before {
    top: 8px;
    transform: rotate(135deg);
    -webkit-transition: .2s ease-in;
    -o-transition: .2s ease-in;
    transition: .2s ease-in;
}


#local_tools_loading{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-align:center;
    z-index:9998;
    background-color:black;
    background-blend-mode: difference;

}
.tools_loader{
    padding-top:auto;
    padding-bottom:auto;
    margin-top:auto;
    margin-bottom:auto;
    color:white;
    line-height: 100vh;
    vertical-align: middle;
    font-size: 30vh;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-variant-numeric: lining-nums;
    -webkit-font-smoothing: antialiased;
    font-style: italic;
    font-weight: bold;
}

#local_tools_container button{
    text-decoration: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-variant-numeric: lining-nums;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: .8em 1em;
    display: inline-block;
    color: #fff;
    background-color: #434343;
    -webkit-transition: .2s ease-in;
    -o-transition: .2s ease-in;
    transition: .2s ease-in;
    text-transform: uppercase;
    font-weight: bold !important;
    font-size: 12px;
    margin: 10px;
    width:90%;
}

button.local_tools_button_class{
    text-decoration: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-variant-numeric: lining-nums;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: .8em 1em;
    display: inline-block;
    color: #fff;
    background-color: #434343;
    -webkit-transition: .2s ease-in;
    -o-transition: .2s ease-in;
    transition: .2s ease-in;
    text-transform: uppercase;
    font-weight: bold !important;
    font-size: 12px;
    margin: 10px;
    width:90%;
}
#local_tools_count_stop {
    background-color: darkred;
}
#local_tools_count_start {
    background-color: darkgreen;
}

#local_tools_container button:hover {
    font-size: 13px;
    background-color: #5f5e5e;
}

#local_tools_button:hover {
    background-color: #464646;
}
#local_tools_button.active {
    background-color: rebeccapurple;
}

#local_tools_container span.footer {
    display: inline-block;
    font-size: 9px;
    text-transform: uppercase;
    font-weight: bold;
    color: #dad8d8;
    padding-bottom: 5px;
}
span.h4.local_tools_button_text {

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-variant-numeric: lining-nums;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 21px;
    font-weight:bold;
    line-height:38px;
    text-transform:uppercase;
    font-style:italic;
}

.linkgood{
    border:3px solid green;
}
.linkbad{
    border:3px solid red;
}
.linkext{
    border:3px solid purple;
}

div#local_tools_status {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 210px;
    background-color: white;
    z-index: 99999;
    border: 1px black solid;
    border-radius: 15px;
    overflow: hidden;
    padding: 15px;
    -webkit-transition: .3s ease-in;
    -o-transition: .3s ease-in;
    transition: .3s ease-in;
}

.local_tools_count_close {
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 15px;
    width: 30px;
    height: 30px;
}

span#local_tools_count_describe {
    width: 100%;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

span#local_tools_count_good_title {
    font-weight: bold;
}

span#local_tools_count_bad_title {
    font-weight: bold;
}
span#local_tools_count_ext_title {
    font-weight: bold;
}

span#local_tools_count_total_title {
    font-weight: bold;
}

span#local_tools_count_good {
    font-weight: bolder;
    color: green;
}

span#local_tools_count_bad {
    font-weight: bolder;
    color: red;
}
span#local_tools_count_ext {
    font-weight: bolder;
    color: purple;
}

div#local_tools_status.off {
    left: -300px;
    -webkit-transition: .3s ease-in;
    -o-transition: .3s ease-in;
    transition: .3s ease-in;
}